<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% current_trainer.pokemon.each do |p| %>
	<p> Name:<%= p.name %> </p>
	<p> Level:<%= p.level %> </p>
	<p> Health:<%= p.health %> </p>
	<%= button_to "Damage!", damage_path(id: p.id), :class => "button medium", :method => :patch %>
<% end %>
<% if current_trainer.id == @trainer.id %>
	<%= button_to "Create pokemon!", new_path(), :class => "button medium", :method => :patch %>
<% end %>
